Repository googleapis/nodejs-analytics-data, pull requests merged in 2020-10, with the labels that each got.

#15 docs: updated sample code to match other platforms
  samples/package.json
  samples/quickstart.js
  samples/test/quickstart.test.js
Labels: api: analyticsdata, cla: yes, cla: yes, samples

#20 build: resync synthtool with library
  .github/workflows/ci.yaml
  .jsdoc.js
  .kokoro/common.cfg
  .kokoro/continuous/node10/common.cfg
  .kokoro/continuous/node12/common.cfg
  .kokoro/docs.sh
  .kokoro/lint.sh
  .kokoro/populate-secrets.sh
  .kokoro/presubmit/node10/common.cfg
  .kokoro/presubmit/node12/common.cfg
  .kokoro/publish.sh
  .kokoro/release/docs-devsite.cfg
  .kokoro/release/docs-devsite.sh
  .kokoro/release/docs.cfg
  .kokoro/release/docs.sh
  .kokoro/release/publish.cfg
  .kokoro/samples-test.sh
  .kokoro/system-test.sh
  .kokoro/test.sh
  .kokoro/trampoline.sh
  .kokoro/trampoline_v2.sh
  .mocharc.js
  .trampolinerc
  CODE_OF_CONDUCT.md
  README.md
  linkinator.config.json
  protos/google/analytics/data/v1alpha/analytics_data_api.proto
  protos/google/analytics/data/v1alpha/data.proto
  protos/protos.d.ts
  protos/protos.js
  protos/protos.json
  src/v1alpha/alpha_analytics_data_client.ts
  src/v1alpha/alpha_analytics_data_client_config.json
  synth.metadata
  test/gapic_alpha_analytics_data_v1alpha.ts
Labels: api: analyticsdata, cla: yes, cla: yes

#23 chore: start tracking obsolete files
  synth.metadata
Labels: api: analyticsdata, cla: yes, cla: yes, context: full
