Repository googleapis/nodejs-analytics-data, pull requests merged in 2022-05, with the labels that each got.

#212 build: update sha for docker container
  .github/.OwlBot.lock.yaml
Labels: api: analyticsdata, size: xs

#206 chore: update repo metadata with codeowners
  .github/CODEOWNERS
  .repo-metadata.json
Labels: api: analyticsdata, size: xs

#192 docs(sample): add runReport sample
  README.md
  samples/README.md
  samples/runReport.js
  samples/test/runReport.test.js
Labels: samples, api: analyticsdata, size: m

#196 docs(samples): add runReport samples for cohorts and aggregations
  README.md
  samples/README.md
  samples/runReportWithAggregations.js
  samples/runReportWithCohorts.js
  samples/test/runReportWithAggregations.test.js
  samples/test/runReportWithCohorts.test.js
Labels: samples, api: analyticsdata, size: l

#199 docs(samples): add runReport samples for dimension inlist and exclude filters
  README.md
  samples/README.md
  samples/runReportWithDimensionExcludeFilter.js
  samples/runReportWithDimensionInListFilter.js
  samples/test/runReportWithDimensionExcludeFilter.test.js
  samples/test/runReportWithDimensionInListFilter.test.js
Labels: samples, api: analyticsdata, size: l

#213 build!: update library to use Node 12
  .github/sync-repo-settings.yaml
  .github/workflows/ci.yaml
  .kokoro/continuous/node10/common.cfg
  .kokoro/continuous/node10/docs.cfg
  .kokoro/continuous/node10/test.cfg
  .kokoro/presubmit/node10/common.cfg
  package.json
  samples/package.json
Labels: api: analyticsdata, size: m
